# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

We will begin by importing the Pandas Library.

In [ ]:
import pandas as pd

Next, we will show the version of Pandas used in this analysis.

In [ ]:
print(f'I am using {pd.__name__} Version: {pd.__version__}.')
print(f'It is installed at: {pd.__path__}')

Next, we will create a dataframe instance of Seattle weather data, labeled SEA_data.

In [ ]:
SEA_data = pd.read_csv('data/KSEA.csv')

In [ ]:
SEA_data.head()

In [ ]:
SEA_data.tail()

Next, we will create a dataframe instance of New York City weather data, labeled NYC_data.

In [ ]:
NYC_data = pd.read_csv('data/KNYC.csv')

In [ ]:
NYC_data.head()

In [ ]:
NYC_data.tail()

Next, lets check the shape of our dataframes.

In [ ]:
SEA_data.shape

In [ ]:
NYC_data.shape

Next, let's compare the column headers and data types for both dataframes.
Let's start with Seattle.

In [ ]:
SEA_data.columns

In [ ]:
SEA_data.dtypes

Next, we'll check the New York dataframe.

In [ ]:
NYC_data.columns

In [ ]:
NYC_data.dtypes

Let's convert SEA_data.dtypes and NYC_data.dtypes into a DataFrame for easier viewing, starting with Seattle:

In [ ]:
pd.DataFrame(SEA_data.dtypes, columns=['SEA DataTypes'])

In [ ]:
pd.DataFrame(NYC_data.dtypes, columns=['NYC DataTypes'])

Select the columns you want.

In [ ]:
SEA_data.Name

Rename those columns.

In [ ]:
# SEA_copy = SEA_data.rename(columns={'Name': 'product_name', 'ProductNumber':'product_number'}, inplace=False)
# print SEA_copy

Next, we'll only select the columns we want from each dataframe. Let's extract date, actual_mean_temp, record_max_temp, record_max_temp_year. Eventually, we will search for the hottest day in each month.

Next, we'll create a plot of both dataframes.

In [ ]:
# SEA_data.plot