# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

We will begin by importing the Pandas Library.

In [148]:
import pandas as pd

Next, we will show the version of Pandas used in this analysis.

In [149]:
print(f'I am using {pd.__name__} Version: {pd.__version__}.')
print(f'It is installed at: {pd.__path__}')

I am using pandas Version: 0.25.1.
It is installed at: ['/Users/rebeccapeterson/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages/pandas']

Next, we will create a dataframe instance of Seattle weather data, labeled SEA_data.

In [150]:
SEA_data = pd.read_csv('data/KSEA.csv')

In [151]:
SEA_data.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,77,60,94,54,73,45,94,1948,2014,0.0,0.03,0.75
1,2014-7-2,70,58,81,54,73,43,93,1954,2015,0.0,0.03,0.50
2,2014-7-3,64,57,71,54,74,44,92,1954,2015,0.0,0.03,0.47
3,2014-7-4,66,57,75,54,74,43,92,1949,2015,0.0,0.03,0.57
4,2014-7-5,66,56,76,55,74,47,91,1951,1958,0.0,0.03,0.64

In [152]:
SEA_data.tail()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
360,2015-6-26,77,64,89,53,72,46,90,1949,2006,0.00,0.03,0.32
361,2015-6-27,78,63,92,53,72,45,92,1949,2015,0.00,0.04,0.61
362,2015-6-28,74,65,83,54,72,45,91,1949,1995,0.01,0.04,0.79
363,2015-6-29,74,63,84,54,73,45,93,1949,1987,0.00,0.03,0.64
364,2015-6-30,73,59,87,54,73,43,96,1949,1995,0.00,0.04,0.84

Next, we will create a dataframe instance of New York City weather data, labeled NYC_data.

In [153]:
NYC_data = pd.read_csv('data/KNYC.csv')

In [154]:
NYC_data.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,72,89,68,83,52,100,1943,1901,0.00,0.12,2.17
1,2014-7-2,82,72,91,68,83,56,100,2001,1966,0.96,0.13,1.79
2,2014-7-3,78,69,87,68,83,54,103,1933,1966,1.78,0.12,2.80
3,2014-7-4,70,65,74,68,84,55,102,1986,1949,0.14,0.13,1.76
4,2014-7-5,72,63,81,68,84,53,101,1979,1999,0.00,0.12,3.07

In [155]:
NYC_data.tail()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
360,2015-6-26,75,69,81,67,82,56,100,1979,1952,0.00,0.13,4.29
361,2015-6-27,65,58,71,67,82,55,101,1940,1966,1.12,0.12,2.11
362,2015-6-28,68,62,73,67,83,54,96,1995,1991,0.29,0.13,1.69
363,2015-6-29,70,63,76,67,83,52,101,1919,1934,0.00,0.12,2.57
364,2015-6-30,75,68,82,67,83,53,99,1919,1964,0.00,0.13,3.07

Next, lets check the shape of our dataframes.

In [156]:
SEA_data.shape

(365, 13)

In [157]:
NYC_data.shape

(365, 13)

Next, let's compare the column headers and data types for both dataframes.
Let's start with Seattle.

In [158]:
SEA_data.columns

Index(['date', 'actual_mean_temp', 'actual_min_temp', 'actual_max_temp',
       'average_min_temp', 'average_max_temp', 'record_min_temp',
       'record_max_temp', 'record_min_temp_year', 'record_max_temp_year',
       'actual_precipitation', 'average_precipitation',
       'record_precipitation'],
      dtype='object')

In [159]:
SEA_data.dtypes

date                      object
actual_mean_temp           int64
actual_min_temp            int64
actual_max_temp            int64
average_min_temp           int64
average_max_temp           int64
record_min_temp            int64
record_max_temp            int64
record_min_temp_year       int64
record_max_temp_year       int64
actual_precipitation     float64
average_precipitation    float64
record_precipitation     float64
dtype: object

Next, we'll check the New York dataframe.

In [160]:
NYC_data.columns

Index(['date', 'actual_mean_temp', 'actual_min_temp', 'actual_max_temp',
       'average_min_temp', 'average_max_temp', 'record_min_temp',
       'record_max_temp', 'record_min_temp_year', 'record_max_temp_year',
       'actual_precipitation', 'average_precipitation',
       'record_precipitation'],
      dtype='object')

In [161]:
NYC_data.dtypes

date                      object
actual_mean_temp           int64
actual_min_temp            int64
actual_max_temp            int64
average_min_temp           int64
average_max_temp           int64
record_min_temp            int64
record_max_temp            int64
record_min_temp_year       int64
record_max_temp_year       int64
actual_precipitation     float64
average_precipitation    float64
record_precipitation     float64
dtype: object

Let's convert SEA_data.dtypes and NYC_data.dtypes into a DataFrame for easier viewing, starting with Seattle:

In [162]:
pd.DataFrame(SEA_data.dtypes, columns=['SEA DataTypes'])

                      SEA DataTypes
date                         object
actual_mean_temp              int64
actual_min_temp               int64
actual_max_temp               int64
average_min_temp              int64
average_max_temp              int64
record_min_temp               int64
record_max_temp               int64
record_min_temp_year          int64
record_max_temp_year          int64
actual_precipitation        float64
average_precipitation       float64
record_precipitation        float64

In [163]:
pd.DataFrame(NYC_data.dtypes, columns=['NYC DataTypes'])

                      NYC DataTypes
date                         object
actual_mean_temp              int64
actual_min_temp               int64
actual_max_temp               int64
average_min_temp              int64
average_max_temp              int64
record_min_temp               int64
record_max_temp               int64
record_min_temp_year          int64
record_max_temp_year          int64
actual_precipitation        float64
average_precipitation       float64
record_precipitation        float64